<h1>Committee Lookup</h1>

<form id="committee">
  <div class="form-group">
    <button type="button" value="house" name="committee" class="btn btn-primary" {{action "committeeLookupHouse"}}>House Committees</button>
    <button type="button" value="senate" name="committee" class="btn btn-primary" {{action "committeeLookupSenate"}}>Senate Committees</button>
    <button type="button" value="joint" name="committee" class="btn btn-primary" {{action "committeeLookupJoint"}}>Joint Committees</button>

    <!-- <select id="committee" name="committee">
      <option value="house">House</option>
      <option value="senate">Senate</option>
      <option value="joint">Joint</option>
    </select> -->

    <!-- <button type="button" class="btn btn-primary" {{action "committeeLookup"}}>Submit</button> -->
  </div>
</form>
